<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amisrs.gavin.tutorhelp">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera" android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".view.AttendanceActivity" />
        <activity android:name=".view.TutorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.TutorialListActivity" />
        <activity android:name=".view.NewTutorActivity" />
        <activity android:name=".view.MenuActivity" />
        <activity android:name=".view.NewTutorialActivity" />
        <activity
            android:name=".view.NewStudentActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".view.BaseActivity" />
        <activity android:name=".view.StudentsActivity" />
        <activity android:name=".view.DrawerActivity"></activity>
    </application>

</manifest>